.ipynb_checkpoints
BanglaCXR_Ablation
BanglaCXR_Local
BanglaCXR_Stage2
data
6-9-2026 qwen.json
banglacxr.ipynb
banglacxr_local_old.ipynb
chat-export-1782241494388.json
chat-export-1782241472588.json
Model - Claude.md
Claude.md